### Import Libraries:

In [12]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")

import re
import nltk;
nltk.download("popular", quiet=True);

### Import Data:

In [25]:
test_df = pd.read_csv("../data/test.csv")
test_df = test_df.dropna()
train_df = pd.read_csv("../data/train.csv")
train_df = train_df.dropna()

C:\Users\Saleh Alkhalifa\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [26]:
print("test_df: ", test_df.shape)
print("train_df: ", train_df.shape)

test_df:  (3563466, 3)
train_df:  (404287, 6)

In [15]:
test_df.head(3)

,test_id,question1,question2
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,2,What but is the best way to send money from Ch...,What you send money to China?

In [16]:
train_df.head(3)

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0

### Load Embeddings:

In [20]:
embeddings_path = "../glove/glove.840B.300d.txt"

In [21]:
embeddings_index = {}
f = open(embeddings_path, encoding='utf-8')

# for line in tqdm(f):
for line in f:
    values = line.split()
    # word = values[0]
    word = ''.join(values[:-300])   
    coefs = np.asarray(values[-300:], dtype='float32')
    embeddings_index[word] = coefs
f.close()

In [22]:
print(len(embeddings_index))

2195892

### Clean Text Data:

In [23]:
def text_to_wordlist(text):
    
    text = text.lower().split()

    stop_words = set(stopwords.words("english"))
    text = [w for w in text if not w in stop_words]
    
    text = " ".join(text)
    text = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", text)
    text = re.sub(r",", " ", text)
    text = re.sub(r"\.", " ", text)
    text = re.sub(r"!", " ! ", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\^", " ^ ", text)
    text = re.sub(r"\+", " + ", text)
    text = re.sub(r"\-", " - ", text)
    text = re.sub(r"\=", " = ", text)
    text = re.sub(r"'", " ", text)
    text = re.sub(r":", " : ", text)
    text = re.sub(r"(\d+)(k)", r"\g<1>000", text)

    return(text)